.git
.github
.gitignore
.gitattributes
Makefile
Dockerfile
*/Dockerfile
.dockerignore
*/.dockerignore
ci

*/bin
.classpath
*/.classpath
.gradle/
.project
*/.project
.settings
*/.settings/
build/
*/build/

core/docker/
core/src/test/

examples/*.jasper
examples/src/test/
examples/geoserver-data/
