.git
.github
.gitignore
.gitattributes
Makefile
Dockerfile
*/Dockerfile
.dockerignore
*/.dockerignore
ci

*/bin
.classpath
*/.classpath
.gradle/
.project
*/.project
.settings
*/.settings/
build/
*/build/

examples/*.jasper
examples/src/test/resources/examples_to_port
examples/src/test/resources/examples
examples/geoserver-data

core/docker
