* text whitespace=trailing-space,tab-in-indent,cr-at-eol,tabwidth=4 eol=lf
*.jrxml text whitespace=indent-with-non-tab,tabwidth=2
*.rst text conflict-marker-size=100
*.jar binary
*.pdf binary
*.png binary
*.jpeg binary
*.jpg binary
*.tiff binary
*.tif binary
*.otf binary
*.ttf binary
*.eot binary
*.woff binary
*.jks binary
*.enc binary
*.sh    eol=lf
*.html  eol=lf
*.js    eol=lf
*.env   eol=lf
*.md    eol=lf
*.gitignore eol=lf
*.gitattributes eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.h         eol=crlf
*.cpp       eol=crlf
*.rc        eol=crlf
*.vcproj    eol=crlf
*.bat       eol=crlf
*.sln       eol=crlf
*.java      eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary 
