*~
/bin/
/*/bin
/.classpath
/*/.classpath
/.gradle/
/.project
/*/.project
/.settings
/*/.settings/
/examples/*.jasper

/core/gradle/
/core/gradlew
/generated-gradlew
/generated-gradlew.bat
/.idea/
*.iml

/build/
/*/build/
