repos:
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-java
        args:
          - --autofix
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.4
  - repo: https://github.com/sbrunner/jsonschema-validator
    rev: 1.0.0
    hooks:
      - id: jsonschema-validator
        files: |-
          (?x)^(
            \.github/publish\.yaml
            |\.github/ghci\.yaml
          )$
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.29.4
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/sbrunner/hooks
    rev: 1.6.1
    hooks:
      - id: canonicalize
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff-format
  - repo: https://github.com/sbrunner/python-versions-hook
    rev: 1.3.0
    hooks:
      - id: python-versions
