*.html
/examples/src/test/resources/examples/**/*.yaml
/examples/src/test/resources/examples_to_port/**/*.yaml
/examples/geoserver-data/**
/examples/src/test/resources/examples/oereb/Report*.properties
/examples/src/test/resources/examples/resource_bundle/countries.geojson
/examples/src/test/resources/examples/simple/countries.geojson
/examples/src/test/resources/examples/multiple_maps/countries.geojson
/core/src/test/resources/map-data/**
/core/src/test/resources/org/mapfish/print/processor/map/**/*.yaml
/core/src/test/resources/org/mapfish/print/config/font/config.yaml
/core/src/test/resources/org/mapfish/print/processor/map/setfeaturesprocessor/requestData.json
/core/src/test/resources/org/mapfish/print/attribute/stringarray/requestData.json
/core/src/test/resources/org/mapfish/print/output/pdf-config/requestData.json
/core/src/test/resources/org/mapfish/print/output/simple_map/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/bbox_geojson_fixedscale/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/bbox_geojson_flexible_scale/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/bbox_geojson_flexible_scale/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/bbox_geojson_label_style/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/bbox_geojson_label_style/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/bbox_geojson_line_style/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/bbox_geojson_line_style/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/center_geojson_zoomTo/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/center_geojson_zoomToExtent/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/center_geojson_zoomToExtent_flexiblescale/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/center_geojson_zoomToExtent_minScale_flexiblescale/requestData.json
/core/src/test/resources/org/mapfish/print/processor/map/setfeaturesprocessor/requestData.json
/core/src/main/resources/mapfish-spring.properties
/docs/src/main/resources/css/sphinx_rtd_theme.css
/jMeter/large-request.json
