services:
  geoserver:
    extends:
      file: docker-compose-lib.yaml
      service: geoserver

  print:
    extends:
      file: docker-compose-lib.yaml
      service: print
    ports:
      - 8081:8080
    environment:
      CONTEXT_PATH: /print

  tests:
    extends:
      file: docker-compose-lib.yaml
      service: tests
