<?xml version="1.0" encoding="UTF-8"?>

<included>
    <logger name="org.mapfish" level="${LOG_LEVEL}" />
    <logger name="org.springframework" level="${SPRING_LOG_LEVEL}" />
    <logger name="com.codahale.metrics" level="INFO" />
    <logger name="net.sf.jasperreports" level="${JASPER_LOG_LEVEL}" />
    <logger name="org.apache" level="${APACHE_LOG_LEVEL}" />
    <logger name="org.hibernate" level="${SQL_LOG_LEVEL}" />
</included>
