<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="classic" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>aaa %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <appender name="log-classic" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>bbb %h %l %u %user %date "%r" %s %b</pattern>
        </encoder>
    </appender>

  <root level="debug">
        <appender-ref ref="classic" />
  </root>
        <appender-ref ref="log-classic" />
</configuration>
