<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include file="${CATALINA_HOME}/conf/logback-base.xml"/>
    <include file="${CATALINA_HOME}/conf/logback-custom.xml"/>
    <include file="${CATALINA_HOME}/conf/logback-access.xml"/>

    <root level="${DEFAULT_LOG_LEVEL}">
        <appender-ref ref="${TOMCAT_LOG_TYPE}" />
        <appender-ref ref="Sentry" />
    </root>
</configuration>
