version:
  tag_to_version_re:
    - from: release/([0-9]+\.[0-9]+\.[0-9]+)
      to: \1

checks:
  versions: False
  prettier: False
  required_workflows:
    audit.yaml:
      steps: []
    rebuild.yaml:
      steps: []
    rebuild-3-23.yaml:
      steps: []
    rebuild-3-20-3-22.yaml:
      steps: []
  codespell:
    ignore_re:
      - ^examples/src/test/resources/examples/.*
      - ^examples/geoserver-data/.*
      - ^core/src/test/java/org/mapfish/print/parser/MapfishParserTest\.java$
      - ^core/src/test/resources/map-data/geojson/states\.json$
      - ^core/src/test/resources/org/mapfish/print/parser/mapAttributeTest\.json$
      - ^core/src/test/resources/map-data/openlayers/OpenLayers\.js$
      - ^core/src/test/resources/map-data/geojson/ny-roads-3857\.json$
      - ^core/src/main/resources/net/opengis/schemas/.*
      - ^examples/src/test/resources/examples/oereb/Report_fr\.properties$
      - ^examples/src/test/resources/examples/oereb/Report_it\.properties$
      - ^examples/src/test/resources/examples/oereb/requestData\.json$
      - ^examples/src/test/resources/examples/.*/countries.geojson$

publish:
  pypi:
    packages: []
  docker:
    images:
      - name: camptocamp/mapfish_print
