codespell==2.0.0
black==22.3.0
c2cciutils==1.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.17 # not directly required, pinned by Snyk to avoid a vulnerability
oauthlib>=3.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
