c2cciutils==1.7.5
pre-commit==4.2.0
tag-publish==1.1.1
filelock>=3.20.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
