---
name: Audit

on:
  schedule:
    - cron: '30 2 * * *'

jobs:
  audit:
    runs-on: ubuntu-20.04
    name: Audit
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        branch:
          - '3.20'
          - '3.21'
          - '3.22'
          - '3.24'
          - '3.25'
          - '3.26'
          - '3.27'
          - '3.28'
          - '3.29'
          - master

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}

      - run: ./gradlew dependencyCheckAnalyze
