name: Continuous integration

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
    tags:
      - '*'
  pull_request:

env:
  HAS_SECRETS: ${{ secrets.HAS_SECRETS }}

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    name: Continuous integration
    if: "!startsWith(github.event.head_commit.message, '[skip ci] ')"

    steps:
      - run: docker system prune --all --force
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get tag
        id: tag2
        uses: frabert/replace-string-action@v2.4
        with:
          pattern: refs/tags/(.*)
          string: '{{ github.ref }}'
          replace-with: $1
        if: startsWith(github.ref, 'refs/tags/')
      - run: echo --${{ steps.tag2.outputs.replaced }}--

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: docker
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - run: gpg --export-secret-keys --armor D121AF2DFA8E140688BD968930C9B913FD42EF13 > CI.asc
        if: env.HAS_SECRETS == 'HAS_SECRETS'

      - id: tag
        run: echo "tag=$(echo ${{ github.ref }}|sed 's%refs/tags/%%g')" >> $GITHUB_OUTPUT
        if: startsWith(github.ref, 'refs/tags/')
      - run: sed --in-place 's/version=.*/version=${{ steps.tag.outputs.tag }}/g' gradle.properties
        if: startsWith(github.ref, 'refs/tags/')

      - id: last-tag
        run: echo "tag=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
        if: "!startsWith(github.ref, 'refs/tags/')"
      - id: no-tag
        run: echo "nb=$(git log --oneline ${{ steps.last-tag.outputs.tag }}..HEAD|wc -l)" >> $GITHUB_OUTPUT
        if: "!startsWith(github.ref, 'refs/tags/')"
      - run: sed --in-place 's/version=.*/version=${{ steps.last-tag.outputs.tag }}/g' gradle.properties
        if: "!startsWith(github.ref, 'refs/tags/') && steps.no-tag.outputs.nb == 0"
      - run:
          sed --in-place 's/version=.*/version=${{ steps.last-tag.outputs.tag }}+${{ steps.no-tag.outputs.nb
          }}/g' gradle.properties
        if: "!startsWith(github.ref, 'refs/tags/') && steps.no-tag.outputs.nb > 0"
      - id: date
        run: echo "date=$(date +%Y%m%d.%H%M%S)" >> $GITHUB_OUTPUT
        if: github.ref == 'refs/heads/master'
      - run: sed --in-place 's/version=.*/version=0.${{ steps.date.outputs.date }}.SNAPSHOT/g' gradle.properties
        if: github.ref == 'refs/heads/master'

      - run: sed --in-place 's/enablePublishing=false/enablePublishing=true/g' gradle.properties
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - run: git diff

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - uses: actions/cache@v3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: "pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}\npre-commit-"
      - run: pre-commit run --all-files
      - run: git diff && false
        if: failure()
      - name: Checks
        run: c2cciutils-checks

      - run: make build

      - run: make checks
      - uses: actions/upload-artifact@v3
        with:
          name: Checkstyle and Spotbugs reports
          path: reports
          if-no-files-found: ignore
        if: always()

      - run: make tests
        # Tntented to fail earlier than the standard 30min for workflow failure
        timeout-minutes: 10

      - uses: actions/upload-artifact@v3
        with:
          name: Unit test results
          path: core/build/resources/test/org/mapfish/print/
          if-no-files-found: ignore
        if: failure()
      - uses: actions/upload-artifact@v3
        with:
          name: Unit test report
          path: core/build/reports/tests/test/
          if-no-files-found: ignore
        if: always()

      - run: make acceptance-tests-up
      - run: make acceptance-tests-run
      - run: c2cciutils-docker-logs || true
        if: always()

      - uses: actions/upload-artifact@v3
        with:
          name: Acceptance tests (Examples)
          path: examples/build/resources/test/examples/
          if-no-files-found: ignore
        if: failure()

      - name: Publish
        run: c2cciutils-publish
        if: env.HAS_SECRETS == 'HAS_SECRETS'
      - run: >
          docker run --rm --env=GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} mapfish_print_builder
          bash -c 'gradle publish'
        if: ( startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/master' ) && env.HAS_SECRETS == 'HAS_SECRETS'

      - id: version
        run: echo "version=$(grep version gradle.properties|sed "s/version=\(.*\)/\1/g")" > $GITHUB_OUTPUT
      - run: echo "${{ steps.version.outputs.version }}"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ steps.tag.outputs.tag }}
          draft: false
          prerelease: false
        if: startsWith(github.ref, 'refs/tags/') && env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./core/build/libs/print-servlet-${{ steps.version.outputs.version }}.war
          asset_name: print-servlet-${{ steps.version.outputs.version }}.war
          asset_content_type: application/java-archive
        if: startsWith(github.ref, 'refs/tags/') && env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./core/build/distributions/core-${{ steps.version.outputs.version }}.zip
          asset_name: print-cli-${{ steps.version.outputs.version }}.zip
          asset_content_type: application/zip
        if: startsWith(github.ref, 'refs/tags/') && env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./core/build/libs/print-lib-${{ steps.version.outputs.version }}.jar
          asset_name: print-lib-${{ steps.version.outputs.version }}.jar
          asset_content_type: application/java-archive
        if: startsWith(github.ref, 'refs/tags/') && env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./core/build/libs/print-lib-${{ steps.version.outputs.version }}-sources.jar
          asset_name: print-lib-${{ steps.version.outputs.version }}-sources.jar
          asset_content_type: application/java-archive
        if: startsWith(github.ref, 'refs/tags/') && env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./core/build/libs/print-lib-${{ steps.version.outputs.version }}-javadoc.jar
          asset_name: print-lib-${{ steps.version.outputs.version }}-javadoc.jar
          asset_content_type: application/java-archive
        if: startsWith(github.ref, 'refs/tags/') && env.HAS_SECRETS == 'HAS_SECRETS'

        # Update the documentation
      - uses: actions/checkout@v3
        with:
          repository: mapfish/mapfish-print-doc
          token: ${{ secrets.GOPASS_CI_GITHUB_TOKEN }}
          path: mapfish-print-doc
        if: github.ref == 'refs/heads/master' && env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Extract the documentation
        run: |
          docker run --rm --detach --name=doc mapfish_print_builder
          cd ${GITHUB_WORKSPACE}/mapfish-print-doc
          git config user.email "ci@camptocamp.com"
          git config user.name "CI"
          git rm --ignore-unmatch -rqf .
          docker cp doc:/src/docs/build/site/. .
          git add -A .
          git commit -m 'Update docs'
        if: github.ref == 'refs/heads/master' && env.HAS_SECRETS == 'HAS_SECRETS'
      - name: Publish the documentation
        run: |
          cd ${GITHUB_WORKSPACE}/mapfish-print-doc
          git push origin gh-pages
        if: github.ref == 'refs/heads/master' && env.HAS_SECRETS == 'HAS_SECRETS'
