---
name: Rebuild 3.20 - 3.22

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  rebuild:
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    name: Rebuild 3.20 - 3.22

    env:
      SUMMON_PROVIDER: /usr/local/bin/gopass

    strategy:
      fail-fast: false
      matrix:
        branch:
          - '3.20'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: docker
      - run: gpg --export-secret-keys --armor D121AF2DFA8E140688BD968930C9B913FD42EF13 > CI.asc

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Checks
        run: c2cciutils-checks
